parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between list\<string\> and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Drivers/APCu.php

		-
			message: '#^Parameter \#1 \$data of function unserialize expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Drivers/File.php

		-
			message: '#^Parameter \#3 \$options of method Redis\:\:set\(\) expects int, int\<min, \-1\>\|int\<1, max\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Drivers/Redis.php
