<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="PHLAK/Cache Test Suite">
            <directory>tests/</directory>
        </testsuite>
        <testsuite name="travis-ci">
            <directory>tests/</directory>
            <exclude>tests/ApcTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
